# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
*.secret
zoho_tokens.json

# Build
dist/
build/
coverage/

# Python
__pycache__/
*.pyc
venv/
.venv/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs
*.log
*.pid

# React
.faz-dashboard@*
react-scripts/

# Leaflet / assets cache
public/leaflet/
public/textures/

# Test artifacts
.nyc_output/
